<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tinder para Habilidades</title>
  <link rel="stylesheet" href="/views/styles.css">
</head>
<body>
  <h1>Bienvenido a 'Tinder para Habilidades'</h1>
  <form id="searchForm">
    <label for="skills">Buscar persona por habilidades:</label>
    <input type="text" id="skills" name="skills">
    <button type="submit">Buscar</button>
  </form>
  <div id="providersList"></div>
  <script src="app.js"></script>
</body>
</html>
